/* GENERICOS */

.logoLiga{
width: 70px;
background-color: transparent;
}

.navbarcolor{
    background-color: #3a5a40;
}

body{
    background-color: #D9DCD6;
}

#tabla{
    margin: auto;
    font-family: sans-serif;
}

thead{
    text-align: center;
    background-color: #588157;
}
#table{
    margin-top: 15px;
}

.colorTabla{
    color: #232921;
}

td{
    text-align: center;
    vertical-align: middle;
}

p{
    margin:auto;
}

.footer{
    background-color: #3a5a40;
    margin-top: 15px;
    height: 96px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.footerimages{
    width: 25%;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.textofooter{
    width: 120px;
    color: #212529;
    margin: auto;
    display: flex;
}

.instagram{
    height: 40px;
}

.youtube{
    height: 60px;
}

.facebook{
    height: 40px;
}

@media screen and (max-width: 667px){
   
    body{
        background-color: lightgray;
    }
    .footer{
        display: grid;
        grid-template-columns: 9fr 1fr;
        height: 45px;
    }
    .footerimages{
        height: 45px;
        width: 80px;
    }
    .instagram{
        height: 20px;
    }
    .youtube{
        height: 30px;
    }
    .facebook{
        height: 20px;
    }
    th{
        font-size: small;
        vertical-align: middle;
    }
    td{
        font-size: x-small;
    }
}

/* CLASIFICACION */

.imgteam1clasificacion{
    height: 60px;
    justify-self: center;
}

.leyenda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
    margin: auto;
    color: #212529;
    text-align: center;
}

@media screen and (max-width: 667px){

    .imgteam1clasificacion{
        width: 40px;
    }
    .leyenda{
        width: 100%;
        font-size: x-small;
    }
    .ultimosresultados{
        font-size: x-small;
    }
}

/* ESTADISTICAS */

.colorTabla1{
    background-color: #a3b18a;
}

.colorTabla2{
    background-color: #a3b18a;
}

/* HOMEPAGE */

.homepagecontainer{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.insidebody{
    margin: auto;
    display: flex;
    justify-content: center;
}

.homepagenoticias{
    margin: auto;
}

.homepageequipos{  
    color: white;
    font-size: large;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.grupoequipos{
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.imgteam1homepage{
    height: 60px;
}

.textohomepageequipos{
    color: #212529;
    text-align: center;
    font-size: xx-large;
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-top: 15px;
}

.linkweb{
    margin-top: 15px;
    text-decoration: none;
    color: #212529;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
@media screen and (max-width: 667px){
    .textohomepageequipos{
        display: grid;
        grid-template-columns: 1fr;
    }
    .homepagecontainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grupoequipos{
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 300px;
    }
    .imgteam1homepage{
       height: 30px;
    }
    .homepageequipos{
        margin-bottom: 15px;
    }
    .homepagenoticias{
       width: 300px;
    }
}

/* PARTIDOS / FORMULARIO */

h2{
    margin-top: 15px;
    text-align: center;
}

.formularios{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1fr 1fr;
}

.formularioEquipos{
    border: 1px solid #3a5a40;
    margin: auto;
    width: 600px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.desplegableEquipos{
    margin-top: 15px;
    text-align: center;
}

#desplegable{
    border-radius: 5px;
    border-style: dashed;
}

.formularioJornadas{
    border: 1px solid #3a5a40;
    margin: auto;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 400px;
    height: 149px;
}

.desplegableJornadas{
    margin-top: 15px;
    text-align: center;
}

#desplegableJornadas{
    border-radius: 5px;
    border-style: dashed;
}

.avisoDesplegable{
    font-size: x-large;
    height: max-content;
    width: max-content;
    margin: auto;
    margin-bottom: 5px;
}

#alertaTexto{
    display: none;
    background-color: #f0ae62;
    width: 310px;
    margin: auto;
    font-size: small;
    margin-top: 15px;
    border-color: #212529;
    color: #212529;
}

#alertaEstado{
    display: none;
}

.negrita{
    font-weight: bold;
}

.imgteam1partidos{
    height: 70px;
    justify-self: center;
}

.imgteam2partidos{
    height: 70px;
    justify-self: center;
}

.filtros2{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.botonesEnvioyReset{
    display: grid;
    height: 50%;
    grid-template-columns: 0.2fr 0.2fr;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 15px;
}

.botonesEnvioyResetJornadas{
    display: grid;
    height: 50%;
    grid-template-columns: 0.2fr 0.2fr;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 15px;
}

.botonEnviar{
    border-radius: 5px;
    width: 130px;
    margin: auto;
    background-color: #a3b18a;
}

.botonReset{
    border-radius: 5px;
    font-size: smaller;
    width: 130px;
    margin: auto;
    background-color: #dad7cd;
}

@media screen and (max-width: 667px){
    #alertaTexto{
        width: 210px;
    }
    #alertaEstado{
        width: 210px;
        height: min-content;
        margin: auto;
    }
    .imgteam1partidos{
        width: 40px;
    }
    .imgteam2partidos{
        width: 40px;
    }
    .formularios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;    
    }
    .formularioEquipos{
        width:70%;
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .formularioJornadas{
        width: 70%;
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .filtros2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 5px;
        width: 50%;
    }
    .botonesEnvioyReset{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 10px;
    }
    .botonReset{
        margin-top: 15px;
    }
    .botonesEnvioyResetJornadas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 10px;
    }
}

/* LOADERS */

#loading{
    margin: 50px auto;
    display: block;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #344e41;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loading2{
    margin: 50px auto;
    display: block;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #344e41;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ESTADISTICAS */

.titulosEstadisticas{
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration:underline;
}